<app-navbar></app-navbar>

<br><br><br><br>
<div class="container">
    
<router-outlet></router-outlet>
</div>

 <!-- Footer -->
        <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Site Built By Fahad
           <a href="http://tinyurl.com/tbvalid" target="_blank" ></a>
      </p>
      
      <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
    </div>
    
    
  </div>

  <br><br><br><br>    